<div class="content" role="main" style="background-color: tomato; font-family: Georgia, 'Times New Roman', Times, serif;">

  <!-- Highlight Card -->
  <div class="card highlight-card card-small" style="background-color: tomato; font-size: xx-large;">

    <span>404</span>

  </div>
  <p style="font-size: xx-large; ">Nem megfelelő adatokat adtál meg vagy pedig nem regisztráltál még! Amíg nem jelentkezel be, nem tudod megnézni a termékeket. :(</p>
  <button [routerLink]="['/login']" class="btn btn-light btn-sm" data-mdb-ripple-color="dark">Újrapróbálkozom</button>
  <p></p>
  <a [routerLink]="['/registration']" class="btn btn-light btn-sm" data-mdb-ripple-color="dark">Regisztrálok</a>
</div>
