<header>
  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-example {
      height: 90vh;
    }
  </style>
  
  <app-nav-bar></app-nav-bar>

  <!-- Background image -->
  <div
    id="intro-example"
    class="p-5 text-center bg-image"
    style="background-image: url('https://img.webmd.com/dtmcms/live/webmd/consumer_assets/site_images/article_thumbnails/other/cat_relaxing_on_patio_other/1800x1200_cat_relaxing_on_patio_other.jpg');"
  >
    <div class="mask" style="background-color: rgba(0, 0, 0, 0.7);">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 style="font-family:Georgia, 'Times New Roman', Times, serif">Köszöntjük a MacsKaja webshopban!</h1>
          <h5 class="mb-4">Jelentkezzen be a termékek megtekintéséhez</h5>


        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
</header>
